<div class="container">
    <div class="row item-offset">
        <button type="button" class="btn btn-default" style="margin-left: 2%" ng-click="addNewImage()">Add new image</button>
    </div>
    <div ng-show="saveError" class="alert alert-danger">Error: cannot save</div>
    <div ng-show="deleteError" class="alert alert-danger">Error: cannot delete</div>
    <div ng-show="deleted" class="alert alert-success">Image was successfully deleted</div>
    <div ng-show="saved" class="alert alert-success">Image was saved</div>

    <div class="row">
        <div ng-show="loading" class="alert alert-info">Loading...</div>
        <div class="col-xs-6 col-md-4" ng-repeat="img in images">
            <div class="thumbnail">
                <img id="image-view-{{img.id}}" ng-src="{{img.src}}" alt="loading...">

                <p ng-hide="img.editMode">{{img.description}}</p>
                <button ng-hide="img.editMode" id="edit-button-{{img.id}}" type="button" class="btn btn-default" ng-click="editMode(img)">Edit</button>
                <button ng-hide="img.editMode" id="delete-button-{{img.id}}" type="button" class="btn btn-danger" ng-click="delete(img)">Remove</button>
                <div ng-show="img.editMode">
                    <div class="item-offset"></div>
                    <input type="file" class="btn btn-primary" onchange="angular.element(this).scope().uploadImage(this.files, angular.element(this).scope().img)" accept="image/jpeg, image/png">
                    <div class="item-offset"></div>
                    <input type="text" class="form-control input-edit-mode" ng-pattern="/^[0-9a-zA-ZА-Яа-яЁё\s\-\,\.\+!;\?\(\)]*$/" ng-model="img.description">
                    <div class="item-offset"></div>
                    <div class="btn-group">
                        <button ng-disabled="!img.src || img.description === undefined" id="save-button-{{img.id}}" type="button" class="btn btn-primary" ng-click="save(img)">Save</button>
                        <button type="button" id="cancel-button-{{img.id}}" class="btn btn-default" ng-click="cancel(img)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-bottom"></div>
</div>