<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your City</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="lib/jquery/jquery-1.11.2.js" type="text/javascript"></script>
    <script src="lib/angularjs/angular.js" type="text/javascript"></script>
    <script src="lib/angularjs/angular-route.js" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="lib/angularjs/angular-cookies.js" type="text/javascript"></script>

    <link href="application/css/index.css" rel="stylesheet">
    <script src="application/js/navigator-app.js" type="text/javascript"></script>
    <script src="application/js/museum/main-museum-controller.js" type="text/javascript"></script>
    <script src="application/js/museum/museum-view-controller.js" type="text/javascript"></script>
    <script src="application/js/museum/images-view-controller.js" type="text/javascript"></script>
    <script src="application/js/event/main-event-controller.js" type="text/javascript"></script>
    <script src="application/js/event/event-view-controller.js" type="text/javascript"></script>
</head>
<body>
<div ng-app="navigatorApp">
    <div ng-controller="navigatorCtrl">
        <nav class="navbar navbar-inverse " role="navigation">
            <div class="container-fluid container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="/your-city">Your City</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#museums">Museums</a></li>
                        <li><a href="#events/concert">Concerts</a></li>
                        <li><a href="#events/exhibition">Exhibitions</a></li>
                        <li><a href="#events/cafe">Cafe</a></li>
                        <li><a href="#events/club">Clubs</a></li>
                        <li><a href="#events/bar">Bars</a></li>
                        <li><a href="#events/event">Other Events</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{curCity}}<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="city in cities"><a href="javascript:void(0)" ng-click="setCurCity(city)">{{city}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-view></div>
    </div>
</div>
</body>
</html>